<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Parent Component (AppComponent)</h3>
      <input type="text" class="form-control w-75" [(ngModel)] = "pText"/>
      <p>This is the message from the Child: {{recievedChildMessage}}</p>

      <div class="container">
        <div class="row">
          <div class="col">
            <app-child 
            [inputText]="pText"
            (outputValue)="recieveMessage($event)"
            ></app-child>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
